.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/

target/
!.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr
out/

/nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

node_modules/
dist/
www/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

polaris-frontend/android/build/
polaris-frontend/android/app/build/
polaris-frontend/android/.gradle/

.docker/
*.log